<h2 mat-dialog-title>{{data ? 'Kartviziti Düzenle' : 'Yeni Kartvizit'}}</h2>
<form [formGroup]="cardForm" action="">
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Ex. Full Stack Engineer">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex. Adrian Diez">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" placeholder="+34 123 45 57 30">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="name@mail.com">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>

  </mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Vazgeç</button>
  <button mat-flat-button color="primary" (click)="data ? updateCard() : addCard()" cdkFocusInitial>{{data ? 'Düzenle' :
    'Ekle'}}</button>
</mat-dialog-actions>